.login-page-container {
	animation: fadeUp 2s ease-in-out;
}

@keyframes fadeUp {
	0% {
		transform: translateY(150px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@media (max-width: 834px) {
	.login-form-card {
		width: 100%;
		background-color: transparent;
		box-shadow: none;
		padding-top: 5rem;
	}
}

@media (min-width: 835px) and (max-width: 1024px) {
	.login-form-card {
		width: 70%;
	}
}
